In [1]:
# Import libraries

import pandas as pd
import scipy.stats as stats

In [2]:
# Load data

data = pd.read_csv(r'C:\Users\USER\Downloads\Sales_add.csv')

In [3]:
# First 5 rows

data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# To clarify whether there is any increase in sales after stepping into digital marketing

For comparison of pre and post performance different times  Paired Sample t-test are used. Scipy library contains ttest_rel() function using which we can conduct the paired samples t-test in Python

In [4]:
# Performing a paired sample t-test

t_value,p_value = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

one_tailed_p_value = float("{:.6f}".format(p_value/2)) 

print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one_tailed_test is %f'%one_tailed_p_value)

alpha = 0.05

if one_tailed_p_value<=alpha:

    print('Conclusion','\n','Since p-value(=%f)'%one_tailed_p_value,'<','alpha(=%.2f)'%alpha,'''We reject the null hypothesis H0. 

So the sales are benefited after stepping into digital marketing. i.e., d = 0 at %.2f level of significance.'''%alpha)

else:

    print('Conclusion','\n','Since p-value(=%f)'%one_tailed_p_value,'>','alpha(=%.2f)'%alpha,'''We do not reject the null hypothesis H0. 

So the sales are not benefited after stepping into digital marketing. i.e., d = 0 at %.2f level of significance.'''%alpha)

Test statistic is -12.090705
p-value for one_tailed_test is 0.000000
Conclusion
 Since p-value(=0.000000) < alpha(=0.05) We reject the null hypothesis H0.

So the sales are benefited after stepping into digital marketing. i.e., d = 0 at 0.05 level of significance.

# To check whether there is any dependency between the features “Region” and “Manager”

In [5]:
# Create contingency table between region and manager

contingency_table = pd.crosstab(data['Region'], data['Manager'])

# display contingency table created 

contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [6]:
# Performing chi square test for dependency

from scipy.stats import chi2_contingency
stat, p_value, dof, expected = chi2_contingency(contingency_table)
 
# interpret p-value

alpha = 0.05
print("p value is ",p_value)
if p_value <= alpha:
    print('Dependent (Reject null hypothesis)')
else:
    print('Independent (Accept null hypothesis)')

p value is  0.5493991051158094
Independent (Accept null hypothesis)

In [7]:
chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))